<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="style.css">
   <link rel= "stylesheet" type="text/css" href="css/style.css">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="script.js"></script>
   <title>CSS MenuMaker</title>
</head>
<body>

<div id='cssmenu'>

<ul id='words'>
  <li><a href='#'>Home</a></li>
<li class='active has-sub'><a href='#'>Links</a>
     
      <ul>
         <li class='active'><a href='https://www.google.com/'>Google</a>
 		
         <li class='active'><a href='http://www.minedminds.org/'>Mined Minds</a>

         <li class='active'><a href='https://stackoverflow.com/'>Stack Overflow</a>

         <li class='active'><a href='/enter_amount'>Coin Changer</a>
      </ul>
   </li>
   <li><a href='#'>About</a></li>
   <li><a href='#'>Contact</a></li>
</ul>
</div>
	
<div id = "background">  
    </div>
   
   <div class = "tooltip" > Hover over for time and date
                <span class = "tooltiptext"> <p id = "demo"> </p> </span>
               </div>
            </center>
	<div id='Mined_Minds_Box'>
		<ul id="ourList">
			 <li> Mined Minds </li>
		</ul>
	</div>

</body>
</html>

<!-- <img src="./img/pizzahut.jpg">
<a href="contact"><img src="./img/pizzahut.jpg"></a> -->